{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Administration</h1>
    <p>Ici est la base home de la page admin</p>
{% endblock %}


{% block content_side %}
    <h1>coté side</h1>
    <p>Ici est la base side </p>
{% endblock %}