h1 {
    text-align: center;
}

.display {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.basket {
    color: black;
    border-radius: 15px;
    width: 60%;
}

.checkout {
    height: 20vh;
    width: 30%;
    border-radius: 5px;
    border: solid var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color: var(--sixnary-color);
    background-color: var(--quaternary-color);
    border: none;
    border-radius: 5px;
    min-width: 70%;
    min-height: 40px;
    cursor: pointer;
}

.cart-button {
    width: 100px;
    min-height: 25px;
    margin-top: 20%;
    margin-right: 20px;
    background-color: #d9534f;
}

li {
    list-style: none;
    position: relative;
}

.li {
    top: 5px;
    right: 5px;
}

.ul-bg {
    border: solid var(--main-color);
    padding-bottom: 10px;
    border-radius: 5px;
    width: 95%;
    margin-left: 2.5%;
}