{% block header %}

<div class="navigation-wrap bg-brun start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark">
                
                    <a class="navbar-brand" href="#" target="_blank"><img src="/assets/images/logo.png" alt=""></a>	
                    
                    <button class="navbar-toggler p-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto py-4 py-md-0 navbar-dark">
                            <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4 active">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="cart">Cart</a>
                                </div>
                            </li>
                            <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                                <a class="nav-link" href="#">Agency</a>
                            </li>
                            <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </li>
                            <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                                <a class="nav-link" href="#">Journal</a>
                            </li>
                            <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    
                </nav>		
            </div>
        </div>
    </div>
</div>





{% endblock %}
