{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Produit :</h1>
    <p>{{ product.name }}</p>
    <p>{{ product.description }}</p>
    <form method="POST" action="/cart/add">
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="number" name="qty" value="1">
        <button>Ajouter au panier</button>
    </form>
    <a href="/product">Retour</a>
{% endblock %}
