/* Colors */
body {
  background: var(--quaternary-color);
}

.modify {
  text-decoration: none;
  color: var(--sixnary-color);
  background-color: var(--quaternary-color);
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.modify:hover {
  background-color: var(--sixnary-color);
  color: var(--quaternary-color);
  border: solid 2px var(--quaternary-color);
}

.form {
  font-family: 'Titillium Web', sans-serif;
  background: var(--sixnary-color);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(164, 108, 53, 0.15);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: var(--secondary-color);
  color: #ffffff;
}
.tab-group .active a {
  background: var(--tertiary-color);
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: var(--main-color);
  font-weight: 300;
  margin: 0 0 40px;
}

.main {
  color: var(--main-color);
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: var(--tertiary-color);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  color: var(--main-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: var(--secondary-color);
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--tertiary-color);
  color: var(--sixnary-color);
  transition: all 0.5s ease;
}
.button:hover,
.button:focus {
  background: var(--secondary-color);
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: right;
}

/* Classe pour masquer les labels lorsqu'un champ est rempli */
label.hide {
  display: none;
}
