{% extends 'layout_admin.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/ordered/ordered.css">
{% endblock %}

{% block content %}

<h1>Les commandes</h1>
{% for ord in orders %}
        <a href="/admin/orderitem/show?id={{ ord.id }}" class="ordera">
            <p class="fly">{{ ord.username }}</p>
            <p class="bottom">Prix total : {{ ord.total_amount|intToCurrency }} - Date de
                commande : {{ ord.created_at | date("d/m/Y g:i:sA") }}</p>
        </a>
{% endfor %}

{% endblock %}