{% extends 'layout_login.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="form">
    <h1>Mot de passe oublié</h1>
    
    {% if success %}
        <p>Un e-mail de réinitialisation a été envoyé à votre adresse.</p>
    {% else %}
        {% if errors is defined and errors|length > 0 %}
            <div class="errors">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <form action="/forgot_password" method="post">
            <div class="field-wrap">
                <label for="email_forgot">
                    Email <span class="req">*</span>
                </label>
                <input type="email" id="email_forgot" name="email" required autocomplete="off"/>
            </div>
            
            <button type="submit" class="button button-block">Envoyer</button>
        </form>
    {% endif %}
</div>
{% endblock %}
